/* General Layout for Code Display */
.codes {
    margin: 10px;
    width: 99%;
    display: grid;
    gap: 30px;
    place-items: center;
    align-items: stretch;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(30%, 45%));
}

/* Responsive Design */
@media (max-width: 700px) {
    .code {
        width: 99%;
        transition: display 0.5s;
    }
    #codes_helper {
        transition: display, opacity 0.5s;
        display: block !important;
        opacity: 1;
    }
    .code_buttons, .code_help {
        display: none !important;
    }
    /*
    This looks bad if you open a page about the code .... on phone ...
    .code_resize{
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    */
    .code_page {
        width: 95vw !important;
        left: 0 !important;
    }
    .dropdown-content {
        left: 100px !important;
    }
}
@media (max-width: 1200px) {
    .codes {
        grid-template-columns: repeat(auto-fill, minmax(400px, 90%));
    }
}

#codes_helper {
    display: none;
    width: 80%;
    margin: 5px;
    padding: 5px;
    border: var(--border-cold-color) 3px solid;
    border-radius: 10px;
}

/* Code Block Container Styling */
.code {
    width: 100% !important;
    min-width: 300px;
    max-width: 700px;
    height: 100%;
    background-color: var(--background-middle-color);
    border: 2px solid var(--border-light-color);
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover Effect for Code Blocks */
.code:hover {
    background-color: var(--background-normal-color);
    transform: translateY(-5px);
}

/* Focus Styling to Remove Outline */
.code_code:focus, .code_out:focus {
    outline: none !important;
}

/* Code Display Styling */
.code_code {
    outline: none !important;
    text-shadow: black 1px 1px 1px !important;
    height: max-content;
}

/* Language and Description Text Styling */
.code_lang, .code_desc {
    color: var(--font-cold-color);
    text-shadow: var(--font-cold-color) 1px 1px 1px;
    margin-bottom: 4px;
    font-weight: bold;
}

/* Button Container */
.code_buttons {
    align-self: center;
    display: flex;
    gap: 5px;
    margin: 10px auto;
}

/* Code Help Section */
.code_help {
    border: 1px solid var(--border-cold-color) !important;
    background-color: var(--background-cold-color) !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    font-size: 80% !important;
}

/* Code Output Styling */
.code_out, .code_code {
    background-color: var(--background-cold-color) !important;
    overflow: auto !important;
}

/* Action Buttons Styling */
.code_copy, .code_resize, .code_readonly, .code_reset {
    border-radius: 4px;
    border: 1px solid var(--border-cold-color);
    font-size: 80%;
    width: 40%;
    margin-top: 3px;
    align-self: center;
    color: var(--font-basic-color);
    background-color: var(--background-light-color);
    padding: 6px 12px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, transform 1s ease;
}

.code_copy:hover, .code_resize:hover, .code_readonly:hover, .code_reset:hover {
    background-color: var(--background-normal-color);
    color: var(--font-cold-color);
    transform: scale(1.05);
}

.code_readonly, .code_reset {
    width: 100%;
    margin: 1px;
}

/* Fullscreen Code Page */
#code_page {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    display: none;
    z-index: 10;
}

/* Code Block in Fullscreen Mode */
.code_page {
    animation: zoom 0.2s;
    opacity: 1 !important;
    position: absolute;
    top: 70px;
    left: 25%;
    width: 50%;
    min-width: 400px;
    height: auto;
    background-color: var(--background-middle-color);
    border: 2px solid var(--border-light-color);
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Code Help Page */
.code_help_page {
    border: 1px solid var(--border-cold-color);
    background-color: var(--background-cold-color);
    border-radius: 8px;
    overflow: auto;
    font-size: 80%;
}

/* Buttons in Fullscreen Mode */
.code_buttons_page {
    align-self: center;
    display: flex;
    gap: 5px;
    margin: 10px auto;
}

/* Search Input Styling */
.search_stuff {
    position: relative;
    align-self: stretch;
}

/* Dropdown Button Styling */
.dropdown-button, #search_title {
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 208px;
    height: 22px;
    border: 1px solid var(--border-dark-color);
    background-color: var(--background-middle-color);
    color: var(--font-cold-color);
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dropdown-button:hover, #search_title:hover {
    background-color: var(--background-middle-color);
    border-color: var(--border-light-color);
}

#search_title:focus {
    outline: none !important;
}

#search_title::placeholder {
    color: var(--font-light-color);
}

/* Dropdown Content Styling */
.dropdown-content {
    text-shadow: var(--font-dark-color) 1px 1px 1px;
    position: absolute;
    width: max(130px, 12%);
    top: 100%;
    left: 35%;
    display: grid;
    background-color: var(--background-middle-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.3s ease;
    z-index: 10;
}

.dropdown-content.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


/* Dropdown Item Styling */
.dropdown-item {
    text-shadow: var(--font-dark-color) 1px 1px 1px;
    display: block;
    border-radius: 2px;
    border: 1px solid var(--border-dark-color);
    padding: 10px 20px;
    text-decoration: none;
    color: var(--font-basic-color);
    background-color: var(--background-light-color);
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: var(--background-normal-color);
}

/* No Results Message */
#search_no_result {
    display: none;
}






/* slight redesign of the prism js stuffs to fit my style*/
.operator{
    background-color: inherit !important;
    color: saddlebrown !important;
}
.function{
    color: red !important;
}
.punctuation{
    color: white !important;
    text-shadow : black 1px 1px 1px !important;
}
.parameter{
    color: rebeccapurple !important;
}
.token{
    text-shadow : #888888 1px 1px 1px;
}
.interpolation-punctuation{
    text-shadow : black 1px 1px 1px !important;
}
.line-numbers-rows{
    color: #222222 !important;
    border-right: 1px solid snow !important;
}