

canvas {
    position: relative;
    top: 10%;
    border: 2px solid var(--border-dark-color);
    background-color: var(--background-cold-color);
}
button {
    position: relative;
    top: 10%;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
