
.polygon {
    transition: opacity, transform 1s ease;
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 10%;
    overflow: hidden;
}

.polygon.animate {
    transition: opacity, transform 1s ease;
    visibility: visible;
    transform: translate(-50%, -50%) scale(2);
    opacity: 100%;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 50px solid blue; /* Color of the triangle */
    top: 25%;
    right: 23%;
}

.square {
    width: 50px;
    height: 50px;
    background-color: orange;
    top: 50%;
    left: 27%;
}

.pentagon {
    width: 50px;
    height: 50px;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: white;
    top: 80%;
    right: 19%;
}

.octagon {
    width: 50px;
    height: 50px;
    clip-path: polygon(
            30% 0%, /* Top-left corner */ 70% 0%, /* Top-right corner */ 100% 30%, /* Right-top corner */ 100% 70%, /* Right-bottom corner */ 70% 100%, /* Bottom-right corner */ 30% 100%, /* Bottom-left corner */ 0% 70%, /* Left-bottom corner */ 0% 30% /* Left-top corner */
    );
    background-color: red;
    top: 55%;
    right: 10%;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    top: 20%;
    left: 20%;
}


.cube {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);
    margin: 100px auto;
}

.cube div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #444;
}

/* Front Face */
.cube .front {
    transform: translateZ(50px);
    background: #ff6f61;
}

/* Back Face */
.cube .back {
    transform: translateZ(-50px) rotateY(180deg);
    background: #6c63ff;
}

/* Left Face */
.cube .left {
    transform: rotateY(-90deg) translateX(-50px);
    transform-origin: left center;
    background: #28c76f;
}

/* Right Face */
.cube .right {
    transform: rotateY(90deg) translateX(50px);
    transform-origin: right center;
    background: #ffc107;
}

/* Top Face */
.cube .top {
    transform: rotateX(90deg) translateY(-50px);
    transform-origin: top center;
    background: #00cfe8;
}

/* Bottom Face */
.cube .bottom {
    transform: rotateX(-90deg) translateY(50px);
    transform-origin: bottom center;
    background: #ea5455;
}


.cube.animate {
    animation: rotateCube 5s infinite linear;
}

@keyframes rotateCube {
    0% {
        transform: rotateX(-20deg) rotateY(20deg);
    }
    50% {
        transform: rotateX(30deg) rotateY(-30deg);
    }
    100% {
        transform: rotateX(-20deg) rotateY(20deg);
    }
}


.animate_button {
    top: 24%;
    left: 40%;
    position: absolute;
    align-self: center;
    width: 10%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 90%;
    color: black;
    background-color: lightgrey;
    cursor: pointer;
    margin: 10px;
}

#select_animation {
    top: 70%;
    left: 15%;
    position: absolute;
    align-self: center;
    width: min(10%, 100px);
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 90%;
    color: black;
    background-color: lightgrey;
    cursor: pointer;
    margin: 10px;
}

#select_anim_label {
    top: 68%;
    left: 15%;
    position: absolute;
}

#select_animation:hover {
    transition: background-color 0.3s ease;
    border-color: black;
    background-color: gray;
}

#select_animation:focus {
    outline: none;
}

.animate_button:hover {
    transition: background-color 0.3s ease;
    border-color: black;
    background-color: gray;
}