
.links {
    align-self: center;
    width: 70%;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.link {
    padding-top: 1px;
    padding-bottom: 13px;
    list-style: none;
    margin: 5px;
    width: max(200px, 90%);
    background: #444444;
    border-radius: 50px;
    overflow: hidden;
}

.link:hover {
    background-color: #888888;

    .link_content {
        background-color: lightgray;
        color: black;
    }
}


.link_title {
    cursor: default;
}

.link_content {
    cursor: default;
    font-size: 140%;
    width: 100%;
    background-color: grey;
    color: #222222;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.link_link {

}

.link_link:hover {
    text-decoration: underline;
}

.link_extra {
    cursor: default;
    font-size: 80%;
}