
.list {
    align-self: center;
    width: 80%;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.list_item {
    padding-top: 1px;
    padding-bottom: 13px;
    list-style: none;
    margin: 5px;
    width: max(300px, 100%);
    background: #444444;
    border-radius: 50px;
    overflow: hidden;
}

.list_item:hover {
    transition: background-color 0.5s ease;
    background-color: #888888;

    .list_content {
        transition: background-color,color 0.5s ease;
        background-color: lightgray;
        color: black;
    }
}

.list_title {
}

.list_content {
    font-size: 140%;
    width: 100%;
    background-color: grey;
    color: white;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.list_extra {
    font-size: 80%;
}